# SEO Configuration
NEXT_PUBLIC_SITE_URL=https://kredytowypatrol.pl

# Google Analytics 4
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-8FTK6PSJBW

# Facebook Pixel
NEXT_PUBLIC_FACEBOOK_PIXEL_ID=tbd

# Cloudflare Web Analytics
NEXT_PUBLIC_CLOUDFLARE_ANALYTICS_TOKEN=7ae2905eda814c87b2f5a4b43a2c759b\

# REDEPLOYYYYY