@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

html{
  font-family: var(--font-sarala);
}

/* Style dla naszego własnego komponentu suwaka */
.slider-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #0a472e;
  border-radius: 50%;
  cursor: grab;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: -5px; /* Kompensacja, aby kciuk był na środku paska */
}

.slider-thumb::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #0a472e;
  border-radius: 50%;
  cursor: grab;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.slider-thumb:active::-webkit-slider-thumb,
.slider-thumb:active::-moz-range-thumb {
  cursor: grabbing;
}

/* Tooltip Styles */
.tooltip {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 50%;
  margin-left: -125px; /* Use half of the width to center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.875rem;
  line-height: 1.25rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.tooltip:hover .tooltip-text,
.tooltip:focus-within .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Tooltip Arrow */
.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

/* Custom Checkbox Styles */
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  font: inherit;
  width: 1.25em;
  height: 1.25em;
  border: 0.15em solid #d1d5db;
  border-radius: 0.25em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.75em;
  height: 0.75em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #0a472e;
  background-color: #0a472e;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

@media (max-width: 640px) {
  .tooltip .tooltip-text {
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
  }
}
